
@for $j from 1 to 12 {

  @each $i in 2,3,4,5,6,7,8,9,10,11,12 {

    @if $i > $j {

      .u-$j\/$i {
        width: width($j/$i) !important;
      }
    }
  }
}

/*
@each $val, $mq in (palm, lap, lap-and-up, portable, desk, retina),
                   (screen and (max-width: 44.9375em),
                   screen and (min-width: 45em) and (max-width: 63.9375em),
                   screen and (min-width: 45em),
                   screen and (max-width: 63.9375em),
                   screen and (min-width: 64em),
                   (-webkit-min-device-pixel-ratio: 2),
                   (min-resolution: 192dpi), (min-resolution: 2dppx)) {
 */

@each $val, $mq in ( palm, lap-and-up ), ( screen and (max-width: 44.9375em), screen and (min-width: 45em) ) {

  @media ($mq) {

    @for $j from 1 to 12 {

      @each $i in 2,3,4,5,6,7,8,9,10,11,12 {

        @if $i > $j {
          .u-$(j)\/$(i)-$(val) {
            width: width($j/$i) !important;
          }
        }
      }
    }
  }
}

.text--center {
  text-align: center !important;
}

.text--right {
  text-align: right !important;
}

.hidden {
  display: none !important;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
